%ol
  - @terms.each do |term|
    %li
      - if term.revisable?
        = link_to term.content, [ :edit, term ]
      - else
        %p= link_to truncate(term.content), term
        %p= "#{term.signatures.count} of #{term.participants.count} signatures." 
      %time= I18n.l(term.created_at)

          
