%ol
  - @terms.each do |term|
    %li
      %div= link_to truncate(term.content, length: 60), term
      %div= "#{term.signatures.count} of #{term.participants.count} signatures." 
      %div{title: term.created_at}
        Created at
        %time{datetime: term.created_at}= time_ago_in_words(term.created_at)
        ago.

          
