%nav{ class: 'top-bar' }
  %ul{ class: 'title-area' }
    %li{ class: 'name' }
      %h1
        %a{ href: '#' } Agree
    %li{ class: 'toggle-topbar' }
      %a{ href: '#' }
        %span Your Terms
  %section{ class: 'top-bar-section' }
    %ul{ class: 'left' }
      %li= link_to 'New', new_term_path
      %li= link_to 'List', terms_path
    %ul{ class: 'right' }
      - unless session['current_user']
        %li{ class: 'has-dropdown' }
          = link_to("Sign In", "#")
          %ul{ class: 'dropdown' }
            %li{ class: 'divider' }
              %li= link_to("Google+", '/auth/google_oauth2')
            %li{ class: 'divider' }
      - else
        %li
          = link_to session_path do
            = image_tag gravatar_image(current_email), class: 'gravatar'
            = current_email

        
