%nav{ class: 'top-bar' }
  %ul{ class: 'title-area' }
    %li{ class: 'name' }
      %h1
        %a{ href: '/about' } Agree.io
    %li{ class: 'toggle-topbar' }
      %a{ href: '#' }
        %span Your Terms
  %section{ class: 'top-bar-section' }
    %ul{ class: 'left' }
      %li= link_to 'New', new_term_path
      %li= link_to 'List', terms_path
    %ul{ class: 'right' }
      - unless session['current_user']
        %li= link_to('Sign In with Google+', '/auth/google_oauth2')
      - else
        %li
          = link_to session_path do
            = image_tag gravatar_image(current_email), class: 'gravatar'
            = current_email
        %li
          = link_to 'Sign Out', session_path, method: 'delete'


        
