!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Agree.io"

  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/modernizr"
  = javascript_include_tag "application"
  = csrf_meta_tag
  = analytics_init if Rails.env.production?

%body
  = render partial: 'shared/nav'

  - if flash[:error].present?
    %div{ class: 'row' }
      %div{'data-alert' => true, 'class' => 'alert-box large-8 columns'}
        = flash[:error]
        %a{href: "#", class: "close"} &times;

  %div{ class: 'row' }
    %div{ class: 'large-8 columns' }
      = yield
    %div{ class: 'large-3 large-offset-1 columns' }
      = yield :about
